body {
	text-align:center;
}

.map_btn {
	height: 50px;
	width: 50px;
	padding: 0px;
	border: 0px;
	margin: 10px;
	
    background: url(btn_bckg.png) no-repeat;
}

.map_btn:hover {
    background: url(btn_bckg1.png) no-repeat;
}

.map_btn:active {
    background: url(btn_bckg.png) no-repeat;
}

.map_btn_text {
	font-weight: bold;
}

.map_table {
	margin-left:   auto; 
	margin-right:  auto;
	margin-top:    10%;
	margin-bottom: 10%;
}